/* Reset */

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* header */

header {
    background-image: url(../img/pattern.png);
    background-color: #4ea0ff;
    background-size: 30%;
    height: 100px;
}
 
header img {
    width: 200px;
    margin-top: 40px;
}

/* container */
.container {
    margin:20px;

}
/* main */
.margin-title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.color-grey {
    color: #858585;
}

.color-sky {
    color: #49b7e9;
}

.caption-font-size {
    font-size: 12px;
}

.highlighted {
    background-color: #ffff00;
}

/* table */
.table-header-style {
color:#FFFFFF;
background-color: #49b7e9;
}

.table-row-background {
    background-color:#b1e6f2;
}